---
title: Klangkunst Manufaktur e.V.
layout: default
title_info_1: Wer wir sind
info_1: >
  Wir - die KlangkunstManufaktur Stuttgart e.V. - sind ein Projektorchester, das pro Jahr in zwei Projekten
  zu jeweils zwei Arbeitsphasen zusammenkommt, um gemeinsam ein Konzertprogramm zu erarbeiten. Die Arbeitsphasen je
  Projekt
  finden dabei im Abstand von zwei Wochen statt. Trotz der intensiven und konzentrierten Probenarbeit kommt der Spaß
  nicht zu kurz.<br /><br />

  Wir bestehen aus einer bunten Mischung von musikbegeisterten Amateurmusikern und teils auch
  professionellen Musikern in unterschiedlichem Alter in verschiedenen Lebenslagen.
  Dabei kommen wir nicht nur aus der Region, sondern aus ganz Deutschland. Teilweise sind sogar befreundete
  Musiker aus dem benachbarten Ausland dabei. Die Meisten von uns verbindet die langjährige, gemeinsame Arbeit mit unserem
  Dirigenten Bertram Schade,
  nicht nur in der KlangkunstManufaktur sondern auch in diversen anderen Orchestern in der Region.
  Während den Probenphasen legen wir nicht nur Wert auf das gemeinsame Musizieren, sondern lassen auch alte Verbindungen
  wieder aufleben und knüpfen neue Kontakte.<br /><br />

  Am Ende des jeweiligen Projektes gibt es ein Konzert. Wir freuen uns, wenn wir Sie bald als Zuhörer:in bei unserem
  nächsten Konzert begrüßen dürfen.<br /><br />
title_info_2: Nächstes Konzert
---

<!-- only shown in mobile version -->
<div class="w-full max-w-6xl h-full xl:hidden">
  <h1 class="header-second">{{page.title_info_2}}</h1>
  {%if page.subtitle_info_2%}
  <h2>{{page.subtitle_info_2}}</h2>
  {%endif%}
  <div class="flex flex-row flex-wrap gap-x-8 gap-y-12 mb-8 w-full">
    {%if site.actual_poster[0].src and site.actual_poster[0].title%}
    <div class="flex flex-col gap-y-4 w-80">
      <p>{{site.actual_poster[0].title}}</p>
      <img class="clickable aspect-[2/3] w-full object-cover xl:mb-10 dark:brightness-75"
        src="{{site.baseurl}}{{site.actual_poster[0].src}}" loading="lazy" />
    </div>
    {%endif%}
  </div>
  <h1 class="header-second">{{page.title_info_1}}</h1>
  <p>{{page.info_1}}</p>
</div>

<!-- only shown if screen >= xl:1280px -->
<div class="w-full max-w-6xl h-full max-xl:hidden">
  <h1 class="header-second">{{page.title_info_1}}</h1>
  <p class="mb-8">{{page.info_1}}</p>
  <h1 class="header-second">{{page.title_info_2}}</h1>
  {%if page.subtitle_info_2%}
  <h2>{{page.subtitle_info_2}}</h2>
  {%endif%}
  <div class="flex flex-row flex-wrap gap-x-8 gap-y-12 w-full">
    {%if site.actual_poster[0].src and site.actual_poster[0].title%}
    <div class="flex flex-col gap-y-4 w-80">
      <p>{{site.actual_poster[0].title}}</p>
      <img class="clickable aspect-[2/3] w-full object-cover xl:mb-10 dark:brightness-75"
        src="{{site.baseurl}}{{site.actual_poster[0].src}}" loading="lazy" />
    </div>
    {%endif%}
  </div>
</div>