<footer
  class="flex-0 fixed bottom-0 z-10 flex h-12 w-full border-t-[3px] border-amber-400 bg-[#ffe8c7] text-xs text-stone-900/70 xl:h-20 xl:text-sm dark:bg-stone-800 dark:text-stone-300/70"
>
  <div
    class="flex justify-between items-center mx-auto w-full max-w-6xl h-full text-center"
  >
    {%for element in site.footer_elements%}
    <a
      class="flex shrink-0 whitespace-nowrap h-full items-center px-8 {%if element.link%}hover:text-black dark:hover:text-stone-300{%else%}pointer-events-none opacity-50{%endif%}"
      href="{%if element.link%}{{site.baseurl}}{{element.link}}{%endif%}"
    >
      <div>{{element.name}}</div>
    </a>
    {%endfor%}
    <div class="flex flex-col gap-y-1 max-xl:hidden">
      <div>Folge uns</div>
      <div class="flex flex-row gap-x-6">
        {%for ref in site.references%}
          <a href="{{site.baseurl}}{{ref.link}}" class="flex flex-row gap-x-2 hover:underline hover:underline-offset-4" target="_blank">{{ref.name}} {{ref.icon}}</a>
        {%endfor%}
      </div>
    </div>
  </div>
</footer>
