<header
  class="flex-0 fixed top-0 z-10 flex h-16 w-full items-center justify-between overflow-hidden border-b-4 border-lime-200 bg-lime-50 text-stone-700/70 xl:h-24 dark:border-stone-900 dark:bg-neutral-750 dark:text-white/50"
>
  <span
    class="relative flex w-full shrink items-center justify-between whitespace-nowrap xl:mx-auto xl:max-w-6xl"
  >
    <!-- only shown in mobile version -->
    <div
      class="absolute right-0 top-0 flex h-full max-h-full w-20 items-center justify-center bg-white/50 hover:cursor-pointer hover:text-stone-800 xl:hidden dark:bg-black/10 dark:text-white/30 hover:dark:text-white/70"
      id="burger"
    >
      <iconify-icon
        icon="iconamoon:menu-burger-horizontal-light"
        width="50"
        height="50"
      ></iconify-icon>
    </div>
    <!-- only shown if screen >= xl:1280px -->
    <div
      class="header flex h-16 items-center justify-between whitespace-nowrap px-8 text-center text-stone-800/70 hover:cursor-default xl:h-24 dark:text-white/40"
    >
      <span class="text-xl">{{site.nav_title_1}}</span><i class="header-second pt-0.5 text-2xl">{{site.nav_title_2}}</i>
    </div>
    {% for nav in site.navs %}
    <a
      href="{%if nav.link%}{{site.baseurl}}{{nav.link}}{%endif%}"
      class="group nav-link flex h-16 flex-1 items-center xl:h-24 {%if nav.link%}hover:cursor-pointer hover:text-stone-800 hover:dark:text-white/70 hover:underline{%else%}pointer-events-none inactive{%endif%}"
    >
      <div class="px-12 max-xl:hidden">{{nav.text}}</div>
    </a>
    {% endfor %}
  </span>
</header>

<div
  class="fixed right-0 top-0 z-10 flex h-12 w-48 flex-row items-center gap-x-4 rounded-bl-lg border-b border-l border-lime-200 bg-lime-200 pl-4 text-stone-700 max-xl:hidden xl:mt-24 dark:grayscale dark:invert"
>
  <span
    id="light-mode-btn"
    class="icon-[ph--sun-thin] hover:cursor-pointer hover:font-black hover:text-stone-900"
  ></span>
  <span
    id="dark-mode-btn"
    class="icon-[ph--moon-thin] hover:cursor-pointer hover:font-black hover:text-stone-900"
  ></span>
</div>
