<div
  class="relative z-10 flex h-16 w-full items-center justify-between overflow-hidden bg-lime-100 text-stone-800/70 shadow-lg xl:h-24"
>
  <span class="flex w-full shrink items-center justify-between whitespace-nowrap">
    <!-- only shown in mobile version -->
    <div
      class="absolute right-0 top-0 flex h-full max-h-full w-20 items-center justify-center bg-white/50 hover:cursor-pointer hover:text-stone-800 xl:hidden"
      id="burger"
    >
      <iconify-icon
        icon="iconamoon:menu-burger-horizontal-light"
        width="50"
        height="50"
      ></iconify-icon>
    </div>
    <!-- only shown if screen >= xl:1280px -->
    <a
      href="{%if site.nav_title.link%}{{site.baseurl}}{{site.nav_title.link}}{%endif%}"
      class="header px-8 h-16 xl:h-24 flex items-center justify-between whitespace-nowrap text-center bg-white/50 appearance-none {%if site.nav_title.link%}hover:text-stone-800 hover:cursor-pointer{%endif%}"
      >{{site.nav_title.text}}</a
    >
    {%for nav in site.navs%}
    <div class="group flex h-16 flex-1 items-center xl:h-24">
      <a
        href="{%if nav.link%}{{site.baseurl}}{{nav.link}}{%endif%}"
        class="{%if nav.link%}group-hover:cursor-pointer group-hover:text-stone-800 group-hover:underline{%else%} group-hover:cursor-default pointer-events-none{%endif%} px-12 max-xl:hidden"
        >{{nav.text}}</a
      >
    </div>
    {%endfor%}
  </span>
</div>
