<!-- only shown in mobile version -->
<span
  id="mobile-menu"
  class="absolute right-0 top-16 z-20 w-[50%] flex-col items-center justify-center divide-y divide-stone-700/30 rounded-bl-xl border-b border-l border-stone-400 bg-neutral-100 text-lg text-stone-700/70 opacity-0 duration-700 ease-in-out xl:pointer-events-none xl:hidden dark:divide-white/30 dark:border-white/30 dark:bg-neutral-750 dark:text-white/50"
>
  {%for nav in site.navs%}
  <a
    href="{%if nav.link%}{{site.baseurl}}{{nav.link}}{%endif%}"
    class="group w-full nav-link flex justify-end px-8 py-4 text-right {%if nav.link%}hover:cursor-pointer{%else%}pointer-events-none inactive{%endif%}"
  >
    <div
      class="{%if nav.link%}hover:text-stone-800 dark:group-hover:text-stone-400 group-hover:underline{%else%}inactive{%endif%}"
    >
      {{nav.text}}
    </div>
  </a>
  {%endfor%}
  <span
    class="mb-6 flex w-full flex-row items-center justify-end gap-x-4 divide-x-2 divide-stone-400 pr-8 pt-6 dark:divide-stone-800"
  >
    <span
      id="light-mode"
      class="icon-[ph--sun-thin] hover:cursor-pointer hover:text-black dark:hover:text-stone-400"
    >
    </span>
    <span
      id="dark-mode"
      class="icon-[ph--moon-thin] hover:cursor-pointer hover:text-black dark:hover:text-stone-400"
    ></span>
  </span>
</span>
