RewriteEngine On

# Umleiten von allen Anfragen auf die www-Version mit HTTPS

# Regel für Anfragen ohne HTTPS (HTTP zu HTTPS + www)
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^klangkunstmanufaktur\.de$ [NC]
RewriteRule ^(.*)$ https://www.klangkunstmanufaktur.de/$1 [R=301,L]

# Regel für HTTPS-Anfragen ohne www (HTTPS ohne www zu HTTPS mit www)
RewriteCond %{HTTPS} =on
RewriteCond %{HTTP_HOST} ^klangkunstmanufaktur\.de$ [NC]
RewriteRule ^(.*)$ https://www.klangkunstmanufaktur.de/$1 [R=301,L]
