RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^klangkunstmanufaktur\.de$ [NC]
RewriteCond %{HTTP_HOST} ^klangkunstmanufaktur\.de/index.html$ [NC]
RewriteRule ^(.*)$ https://www.klangkunstmanufaktur.de/$1 [R=301,L]