<!DOCTYPE html>
<html lang="de" class="mx-auto h-full w-full">
  <head>
    <title>{{page.title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{site.baseurl}}favicon.ico" />
    <script src="{{site.baseurl}}src/darkmode.js"></script>
    <link href="{{site.baseurl}}src/fonts.css" rel="stylesheet" />
    <link href="{{site.baseurl}}dist/output.css" rel="stylesheet" />
    <style>
    h1 {
        padding-bottom: 2rem;
    }
    p {
        padding-bottom: 0.5rem;
    }
    strong {
        padding-top: 1rem;
    }
    </style>
  </head>

  <body
    class="normal flex h-full w-full flex-col bg-gradient-to-b from-orange-700/20 via-amber-400/20 via-20% to-lime-700/20 to-80% bg-fixed dark:from-orange-950 dark:via-amber-950 dark:to-lime-950 dark:backdrop-saturate-[.25]"
  >
    <span
      class="flex h-full w-full max-w-5xl flex-col px-8 pt-28 xl:mx-auto xl:px-24 xl:pt-32"
      id="content"
    >
      {{content}}
    </span>
  </body>
</html>
