<!DOCTYPE html>
<html lang="de" class="mx-auto h-full w-full">
  <head>
    <title>{{page.title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{site.baseurl}}favicon.ico" />
    <script src="{{site.baseurl}}src/darkmode.js"></script>
    <link href="{{site.baseurl}}src/fonts.css" rel="stylesheet" />
    <link href="{{site.baseurl}}dist/output.css" rel="stylesheet" />
    <script src="{{site.baseurl}}src/iconify-min.js"></script>
    <style>
      h1 {
        padding-bottom: 2rem;
      }
      p {
        padding-bottom: 0.5rem;
      }
      strong {
        padding-top: 1rem;
      }
      a {
        color: #075985;
      }
      a:hover {
        text-decoration-line: underline;
      }
      .dark ::a {
        color: #0284c7;
      }
    </style>
  </head>

  <body
    class="normal flex min-h-full w-full flex-col bg-gradient-to-b from-orange-700/20 via-amber-400/20 via-20% to-lime-700/20 to-80% bg-fixed dark:from-orange-950 dark:via-amber-950 dark:to-lime-950 dark:backdrop-saturate-[.25]"
  >
    <!-- only shown in mobile version -->
    <span
      id="menu"
      class="absolute right-0 top-16 z-10 flex hidden w-[50%] flex-col items-center justify-center divide-y divide-stone-400 rounded-bl-xl bg-stone-200 text-lg text-stone-800/70 shadow-xl shadow-stone-400/70 xl:hidden dark:divide-stone-600 dark:bg-stone-800 dark:text-stone-400/70 dark:shadow-stone-800/70"
    >
      {%for nav in site.navs%}
      <a
        href="{%if nav.link%}{{site.baseurl}}{{nav.link}}{%endif%}"
        class="group w-full flex justify-end px-8 py-4 text-right text-stone-800/70 dark:text-stone-400/70 {%if nav.link%}hover:cursor-pointer{%else%}cursor-auto{%endif%}"
      >
        <div
          class="{%if nav.link%}hover:text-stone-800 dark:group-hover:text-stone-400 group-hover:underline{%endif%}"
        >
          {{nav.text}}
        </div>
      </a>
      {%endfor%}
      <span
        class="mb-4 flex w-full flex-row items-center justify-end gap-x-4 divide-x-2 divide-stone-400 border-t-2 border-stone-400 pr-8 pt-4 dark:divide-stone-800 dark:border-stone-800"
      >
        <span
          id="light-mode"
          class="icon-[ph--sun-thin] hover:cursor-pointer hover:text-black dark:hover:text-stone-400"
        >
        </span>
        <span
          id="dark-mode"
          class="icon-[ph--moon-thin] hover:cursor-pointer hover:text-black dark:hover:text-stone-400"
        ></span>
      </span>
    </span>
    <span class="relative">{% include header.html %}</span>
    <span
      class="mx-auto flex h-full max-w-5xl flex-col hyphens-auto px-8 pb-12 pt-24 xl:px-24 xl:pb-24 xl:pt-40"
      id="content"
    >
      {{content}}
    </span>
    <script>
      const menu = document.getElementById("menu");
      const burger = document.getElementById("burger");
      const content = document.getElementById("content");
      if (menu && burger) {
        burger.addEventListener("click", function () {
          menu.classList.toggle("hidden");
          content.classList.toggle("blur-sm");
        });
      }
    </script>
  </body>
</html>
