<!DOCTYPE html>
<html class="h-full w-full" lang="de">
  <head>
    <title>{{page.title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer" />
    {%if page.block_index or page.block_follow%}
    <meta
      name="robots"
      content="{%if page.block_index and page.block_follow%}noindex, nofollow{%elsif page.block_index%}noindex{%elsif page.block_follow%}nofollow{%endif%}"
    />
    {%endif%}
    <link href="{{site.baseurl}}favicon.ico" rel="icon" />
    <script src="{{site.baseurl}}src/darkmode.js"></script>
    <link href="{{site.baseurl}}src/fonts.css" rel="stylesheet" />
    <link href="{{site.baseurl}}dist/output.css" rel="stylesheet" />
    <link href="{{site.baseurl}}src/markdown.css" rel="stylesheet" />
    <script src="{{site.baseurl}}src/iconify-min.js"></script>
  </head>

  <body
    class="normal relative mx-auto mb-12 flex h-full w-full overflow-hidden bg-amber-50 pt-16 xl:mb-20 xl:pt-24 dark:bg-neutral-700"
  >
    {% include menu.html %} {% include header.html %}
    <main
      id="main-container"
      class="relative mx-auto h-full w-full flex-1 overflow-y-auto hyphens-auto py-10 xl:py-20"
    >
      <div id="content" class="mx-auto w-full px-8 xl:max-w-6xl">
        {{content}}
      </div>
      <div
        id="wrapper"
        class="pointer-events-none fixed inset-0 z-50 flex items-center justify-center"
      >
        <div
          id="large-image-wrapper"
          class="relative flex items-center justify-center opacity-0 duration-700 ease-in-out"
        >
          <img id="large-image" class="cursor-pointer object-contain" />
        </div>
      </div>
    </main>
    <script src="{{site.baseurl}}src/menu.js"></script>
    <script src="{{site.baseurl}}src/active_elements.js"></script>
  </body>
</html>
