@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit/Blink browsers */
.dark ::-webkit-scrollbar {
    width: 12px;
}

/* For Firefox */
.dark {
    scrollbar-width: thin;
    scrollbar-color: #333 #222; /* dark grey on black */
}

/* Track */
.dark ::-webkit-scrollbar-track {
    background: #222; /* same as background color */
}

/* Handle */
.dark ::-webkit-scrollbar-thumb {
    background-color: #333; /* grey */
    border-radius: 10px;
    border: 3px solid #222; /* same as track */
}

/* Handle on hover */
.dark ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* slightly lighter grey */
}

.header {
    font-family: 'lmromancaps10-regular';
}

.header-second {
    font-family: 'Gara';
}

.title {
    font-family: 'Roboto-Black', sans-serif;
}

.title-italic {
    font-family: 'Roboto-BlackItalic', sans-serif;
}

.normal {
    font-family: 'Roboto-Light', sans-serif;
}

.normal-italic {
    font-family: 'Roboto-LightItalic', sans-serif;
}

.thin {
    font-family: 'Roboto-Thin', sans-serif;
}

.thin-italic {
    font-family: 'Roboto-ThinItalic', sans-serif;
}

@layer components {
    h1 {
        @apply title text-xl text-stone-800/70 xl:text-2xl dark:text-stone-400;
    }

    p {
        @apply normal text-sm font-black text-stone-800/70 xl:text-base dark:text-stone-400;
    }

    strong {
        @apply title;
    }

    body {
        @apply text-stone-700 dark:text-white/80;
    }

    .header {
        @apply text-2xl;
    }

    .active {
        @apply text-black dark:text-white;
    }
}
