@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  visibility: hidden;
  display: none;
}

.header {
  font-family: "lmromancaps10-regular";
}

.header-second {
  font-family: "Gara";
}

.normal {
  font-family: "Inter", sans-serif;
}

i,
em,
.font-italic {
  font-family: "InterItalic", sans-serif;
}

h1 {
  @apply text-xl text-stone-800/70 xl:text-2xl dark:text-stone-400;
}

p {
  @apply text-sm text-stone-800/70 xl:text-base dark:text-stone-400;
}

strong {
  @apply normal font-black;
}

main {
  @apply normal text-stone-700 dark:text-white/80;
}

main a[href] {
  @apply text-sky-600 hover:underline hover:underline-offset-4;
}

ul {
  @apply pb-4;
}

ul > li {
  @apply list-inside list-disc text-sm text-stone-800/70 xl:text-base dark:text-stone-400;
}

.header {
  @apply text-2xl;
}

.active {
  @apply text-stone-800 dark:text-white/80;
}

.inactive {
  @apply text-stone-700/30 dark:text-white/30;
}
