@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    font-family: 'TiltPrism';
}

.title {
    font-family: 'Roboto-Black', sans-serif;
}

.title-italic {
    font-family: 'Roboto-BlackItalic', sans-serif;
}

.normal {
    font-family: 'Roboto-Light', sans-serif;
}

.normal-italic {
    font-family: 'Roboto-LightItalic', sans-serif;
}

.thin {
    font-family: 'Roboto-Thin', sans-serif;
}

.thin-italic {
    font-family: 'Roboto-ThinItalic', sans-serif;
}

@layer components {
    h1 {
        @apply title text-xl text-stone-800/70 xl:text-2xl dark:text-stone-400;
    }

    p {
        @apply normal text-sm font-black text-stone-800/70 xl:text-base dark:text-stone-400;
    }

    body {
        @apply text-stone-700 dark:text-white/80;
    }

    .header {
        @apply text-2xl;
    }
}
