h1 {
  padding-bottom: 2rem;
}
p {
  padding-bottom: 0.5rem;
}
strong {
  padding-top: 1rem;
}
a {
  color: #075985;
}
a:hover {
  text-decoration-line: underline;
}
html.dark a {
  color: #38bdf8;
}
#menu a {
  color: rgb(41 37 36 / 0.7);
}
#menu a:hover {
  color: rgb(41 37 36);
}
html.dark #menu a {
  color: rgb(168 162 158 / 0.7);
}
html.dark #menu a:hover {
  color: rgb(168 162 158);
}
